In [184]:
# Importing the necessary libraries

import pandas as pd
import difflib

In [185]:
# Loading the Raw_Skills Dataset

raw_skills = pd.read_csv('Raw_Skills_Dataset.csv')
raw_skills.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [186]:
#Loading the Technical Skills Dataset

tech_skills = pd.read_csv('Example_Technical_Skills.csv')
tech_skills.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

In [187]:
# Displaying the shapes of both the datasets

print(raw_skills.shape)
print(tech_skills.shape)

(34116, 1)
(979, 1)

In [188]:
# Checking for duplicate values in the Dataset

raw_skills.value_counts()

RAW DATA
Python                          272
AWS                             239
JavaScript                      220
Kubernetes                      180
Familiarity                     172
                               ...
SDLC compliance                   1
SDRG                              1
SDTM specifications document      1
SEITs                             1
üèó                                 1
Length: 15677, dtype: int64

In [189]:
# Dropping the duplicate values in the Dataset

raw_skills.drop_duplicates(inplace=True)

In [190]:
# Checking for duplicate values in the Dataset

tech_skills.value_counts()

Technology Skills
DEC - Other                               3
Adobe Experience Manager - Communities    3
Azure Synapse Analytics                   3
5G Optical/Fiber Network Planning         2
CallidusCloud Contract Lifecycle Mgmt.    2
                                         ..
Infrastructure Management Process         1
Instanda                                  1
Integration documentaton (IFA)            1
Intelligent Asset Management (IAM)        1
scikit-learn                              1
Length: 897, dtype: int64

In [191]:
# Dropping the duplicate values in the Dataset

tech_skills.drop_duplicates(inplace=True)

In [192]:
# Differentiating the Hard and Soft Skills from the Raw Dataset
# Comparing each Raw Data with the Technical Skills to find the closest match with each other
# using difflib.get_close_matches() function

techSkills = list(tech_skills['Technology Skills'])
hard_skills = []
soft_skills = []

for i in raw_skills['RAW DATA']:
    if(len(difflib.get_close_matches(i, techSkills)) != 0):
        hard_skills.append(i)
    else:
        soft_skills.append(i)
        
hard_df = pd.DataFrame(list(set(hard_skills)))
soft_df = pd.DataFrame(list(set(soft_skills)))

In [193]:
# Displaying the Hard Skills Dataframe

hard_df

                                   0
0                 AWS infrastructure
1              Fullstack development
2              infrastructure basics
3                     CSS frameworks
4            questions specification
...                              ...
2783         any one test frameworks
2784   big data system architectures
2785       application functionality
2786  technical security assessments
2787         Linux ALSA Architecture

[2788 rows x 1 columns]

In [194]:
# Displaying the Soft Skills Dataframe

soft_df

                                                       0
0                             (Automation Test Framework
1                                                    ORC
2                                 the network topologies
3                                         (EXTJS/Angular
4                               our SaaS web application
...                                                  ...
12884                                       BA/BS degree
12885                     client configuration integrity
12886                                 Startup experience
12887  Professional / Exp√©riment√©(e) / Professionell ...
12888                                   Desirable Skills

[12889 rows x 1 columns]